<button pButton pRipple [type]="btnType()" [class]="'cus_btn' + ' ' + class() +
 (iconPos() == 'end' ? ' flex-row-reverse ' :'')" [ngClass]="styleType" (click)="emitClickEvent($event)"
  [loading]="isLoading()" [disabled]="disabled()">

  @if(!isLoading()){
  @if (!!primeIcon() ) {
  <i class="pi pi-{{ primeIcon() }}"></i>
  }
  @else if (!!icon()) {

  <img [src]="icon()" alt="" [class]="iconClass()" />
  }
  @else if(!!jsonIcon()) {
  <span class="json_icon">
    <app-icon [icon]="jsonIcon()"></app-icon>
  </span>

  }

  }

  @if(label()){
  <span class="btn_label">{{ label() | translate}}</span>
  }

</button>