<div class="expense-header">

    <div class="flex justify-between">

        <div class="user-info">
            <p-avatar icon="pi pi-user" [style]="{ 'background-color': '#dee9fc', color: '#1a2551' }" shape="circle" />
            <div class="text-white">
                <small>{{'general.good_morning' | translate}}</small>
                <p>{{userName}}</p>

            </div>
        </div>

        <div class="flex gap-2 items-center">

            <p-button [label]="_translation.defaultLang()" styleClass="border-btn text-sm" (onClick)="changeLang()">

                <img src="imgs/icons/lang.svg" width="14" alt="">
            </p-button>
            <p-select [options]="filterOptions" [(ngModel)]="selectedFilter" optionLabel="label" optionValue="key"
                [placeholder]="'general.select' | translate" class="w-full md:w-56" (onChange)="onFilter()"
                [showClear]="true">
                <ng-template pTemplate="item" let-item>
                    <span class="">{{item.label | translate}}</span>
                </ng-template></p-select>

        </div>
    </div>


    <div class="expense-card">

        <div class="flex items-start justify-between">
            <div>
                <p class="fw-bold">{{'expense.total_balance' | translate}}</p>
                <h3>{{totalUsdAmount | currency}}</h3>

            </div>

            <i class="pi pi-ellipsis-h" (click)="menu.toggle($event)"></i>

        </div>
        <p-menu #menu [model]="items" [popup]="true" appendTo="body">
            <ng-template pTemplate="item" let-item>
                <span class=" p-menu-item-link">{{item.label | translate}}</span>
            </ng-template>
        </p-menu>

        <div class="flex justify-between">

            <div class="incomes">
                <div class="flex gap-2 items-center">

                    <div class="incomes-icon">
                        <i class="pi pi-arrow-down"></i>
                    </div>
                    <p>{{'expense.incomes' | translate}}</p>
                </div>
                <h4>{{2000 | currency}}</h4>


            </div>
            <div class="expenses">
                <div class="flex gap-2 items-center">

                    <div class="incomes-icon">
                        <i class="pi pi-arrow-up"></i>
                    </div>
                    <p>{{'expense.expenses' | translate}}</p>
                </div>
                <h4>{{2000 | currency}}</h4>
            </div>
        </div>
    </div>
</div>
<div class="expense-body md:mt-1 mt-28">
    <div class="flex justify-between my-6 px-4">
        <h5>{{'expense.recent_expenses' | translate}}</h5>

        <p>{{'general.see_all' | translate}}</p>
    </div>

    <div [class]="'recent-expenses p-4 gap-4 ' + (uiExpenses.length > 0 ? ' grid md:grid-cols-4' : '')">

        @for ( expense of uiExpenses; track expense) {
        <app-expense-item [expense]="expense"></app-expense-item>

        }@empty {
        <app-empty-box />
        }

    </div>

    @if (isLoadingMore) {

    <div class="text-center">
        <p-progress-spinner strokeWidth="5" fill="transparent" animationDuration=".5s"
            [style]="{ width: '40px', height: '40px' }" />
    </div>
    }
</div>